<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}
        {# Show the setup name, as set in the config file, as tab title. Don't escape HTML entities. #}
        <title>{{ setupname|safe }}</title>
        <link rel="stylesheet" href="/static/css/matemat.css"/>
        <link rel="stylesheet" href="/static/css/theme.css"/>
    {% endblock %}
</head>

<body>

{% block overlay %}
{% endblock %}

<header>
    {% block header %}

        {# Always show a link to the home page, either a list of users or of products. #}
        <nav class="navbarbutton">
            <div class="selected"><a href="/">Home</a></div>
        {# Show a link to the settings, if a user logged in via password (authlevel 2). #}
        {% if authlevel|default(0) > 1 %}
            {% if authuser is defined %}
                {# If a user is an admin, call the link "Administration".  Otherwise, call it "Settings". #}
                {% if authuser.is_admin %}
                    <a href="/admin">Administration</a>
                    <a href="/statistics">Sales Statistics</a>
                {% else %}
                    <a href="/admin">Settings</a>
                {% endif %}
            {% endif %}
        {% endif %}
        </nav>
    {% endblock %}
</header>

<main>
    {% block main %}
        {# Here be content. #}
    {% endblock %}
</main>

<footer>
    {% block footer %}
        {# Show some information in the footer, e.g. the instance name, the version, and copyright info. #}
        <ul>
            <li> {{ setupname|safe }}
            <li> Matemat {{ __version__ }}
            <li> MIT License
                {# This used to be a link to the GitLab repo.  However, users of the testing environment always clicked
                that link and couldn't come back, because the UI was running in touch-only kiosk mode. #}
            <li> gitlab.com/s3lph/matemat
        </ul>
    {% endblock %}
</footer>

<script src="/static/js/overlay.js"></script>
</body>
</html>
