{% extends "base.html" %}

{% block header %}
    <h1>Signup</h1>
    {{ super() }}
{% endblock %}

{% block main %}

    {# Show a username/password signup form #}
    <form method="post" action="/signup" id="signupform" enctype="multipart/form-data" accept-charset="UTF-8">
        <label for="signup-username"><b>Username</b>: </label>
        <input id="signup-username" type="text" name="username" required="required"/><br/>

        <label for="signup-password"><b>Choose a password</b>: </label>
        <input id="signup-password" type="password" name="password" required="required"/><br/>

        <label for="signup-password2"><b>Repeat password</b>: </label>
        <input id="signup-password2" type="password" name="password2" required="required"/><br/>

        <label for="signup-email">E-Mail: </label>
        <input id="signup-email" type="text" name="email"/><br/>

        <label for="signup-avatar">Upload a profile picture: </label>
        <input id="signup-avatar" type="file" name="avatar" accept="image/*" /><br/>

        <label for="signup-touchkey">Draw a touchkey (touchscreen login pattern)</label>
        <br/>
        <svg id="touchkey-svg" width="400" height="400"></svg>
        <br/>
        <input id="signup-touchkey" type="hidden" name="touchkey" value="" />

        <input type="submit" value="Create account">
    </form>
    <script src="/static/js/touchkey.js" ></script>
    <script>
        initTouchkey(true, 'touchkey-svg', null, 'signup-touchkey');
    </script>

    {{ super() }}

{% endblock %}
