{% extends "base.html" %}

{% block header %}
    {# Show the setup name, as set in the config file, as page title followed by "Setup". Don't escape HTML entities. #}
    <h1>{{ setupname|safe }} Setup</h1>
    {{ super() }}
{% endblock %}

{% block main %}

    {# Show a user creation form #}
    Please create an admin user account
    <form method="post" action="/userbootstrap" accept-charset="UTF-8">
        <label for="username">Username: </label>
        <input id="username" type="text" name="username"/><br/>

        <label for="password">Password: </label>
        <input id="password" type="password" name="password"/><br/>

        <label for="password2">Repeat: </label>
        <input id="password2" type="password" name="password2"/><br/>

        <input type="submit" value="Create user">
    </form>

    {{ super() }}

{% endblock %}
