{% extends "base.html" %}

{% block header %}
    {# Show the setup name, as set in the config file, as page title. Don't escape HTML entities. #}
    <h1>{{ setupname|safe }}</h1>
    {{ super() }}
{% endblock %}

{% block main %}

    {% for user in users %}
        {# Show an item per user, consisting of the username, and the avatar, linking to the touchkey login #}
        <div class="thumblist-item">
            <a href="/touchkey?uid={{ user.id }}&username={{ user.name }}">
                <span class="thumblist-title">{{ user.name }}</span><br/>
                <div class="imgcontainer">
                    <img src="/static/upload/thumbnails/users/{{ user.id }}.png?cacheBuster={{ now }}" alt="Avatar of {{ user.name }}" draggable="false"/>
                </div>
            </a>
        </div>
    {% endfor %}

    <br/>
    {# Link to the password login #}
    <a href="/login">Password login</a>
    {% if signup %}
    <a href="/signup">Create account</a>
    {% endif %}

    {{ super() }}

{% endblock %}
